[__config__]
include = ["black.toml", "mypy.toml", "ruff.toml"]

# Do not use setup.cfg
["setup.cfg".file_absent]

# Do not use setup.py
["setup.py".file_absent]

# Do not use requirements.txt
["requirements.txt".file_absent]

# use poetry as build tool
["pyproject.toml".key_value_present.build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# prevent from adding .venv and cache to git
[[".gitignore".lines_present]]
__lines__ = "__pycache__"

[[".gitignore".lines_present]]
__lines__ = ".cache"

[[".gitignore".lines_present]]
__lines__ = ".venv"
